@*///---------------------------------------
/// Novum Arcanum: Studio Arcanum Seattle
/// --------------------------------------*@

@page
@model IndexModel
@{
    ViewData["Title"] = "Portal";
}

<div id="index-container">
    <div class="container-one">
        <div>
            <img src="" /> image 1
        </div>
        <div><p>IntroA main page</p></div>
        <div>
            _ArtistNav partial
        </div>
    </div>

    <div class="container-two">
        <div>
            <img src="" /> image 2
        </div>
        <div><h3>Recent Posts</h3></div>
        <div>
            partial _RecentImageGallery
        </div>
    </div>

    <div class="container-three">
        <div><p>IntroB</p></div>
        <div>
            <img src="" /> image 3
        </div>
    </div>
</div>
