@*///---------------------------------------
/// Novum Arcanum: Studio Arcanum Seattle
/// --------------------------------------*@

@page
@model NovumArcanum.Pages.TheSanctumModel
@{
    ViewData["Title"] = "Sanctum";
}

<div id="sanctum-container" class="page-container">
    <div class="container-one">
        the studio
    </div>

    <div class="container-two">
    </div>
        <ul>
            <li>
                social links
            </li>
            <li>
                policies
            </li>
            <li>
                shop photos
            </li>
            <li>
                aftercare
            </li>
            <li>
                map
            </li>
        </ul>
    <div class="container-three">
    </div>
</div>