@*///---------------------------------------
/// Novum Arcanum: Studio Arcanum Seattle
/// --------------------------------------*@

@page
@model NovumArcanum.Pages.TheSanctumModel
@{
    ViewData["Title"] = "Sanctum";
}

<div id="sanctum-container" class="page-container">
    <div class="container-one">
        sanctum
    </div>

    <div class="container-two">
    </div>

    <div class="container-three">
    </div>
</div>