@*///---------------------------------------
/// Novum Arcanum: Studio Arcanum Seattle
/// --------------------------------------*@

@page
@model NovumArcanum.Pages.TheSanctumModel
@{
    ViewData["Title"] = "Sanctum";
}

<p>The Sanctum</p>