@*///---------------------------------------
/// Novum Arcanum: Studio Arcanum Seattle
/// --------------------------------------*@

@page
@model NovumArcanum.Pages.WizardModel
@{
    ViewData["Title"] = "Wizard";
}

<div id="wizard-container" class="page-container">
    <div class="container-one">
        <div>
            <h2>@Model.WizardPageContent.Wizard.FirstName</h2>
        </div>
        <div>
            <img src="https://placehold.co/250x300" alt="" />
        </div>
    </div>

    <div class="container-two">
        <div>
            <p class="format-paragraph">
                Renatus arcanum, vita scripta ex veteris mundi emergit. Ethos arcanum et doctrina vitae, peregrinationem magicam incipiunt. In tabula accessus, inscribere arcanum et aditus clavis reperiuntur.
            </p>
        </div>
        <div>
            <partial name="Partials/_WizardMenu" />
        </div>
    </div>

    <div class="container-three">
        <div>
            <h3>Gallery</h3>
        </div>
        <div>
            <partial name="Partials/_WizardGallery" />
        </div>
    </div>
</div>