@*///---------------------------------------
/// Novum Arcanum: Studio Arcanum Seattle
/// --------------------------------------*@

@page
@model NovumArcanum.Pages.WizardModel
@{
}

<p> artist page </p>