@*///---------------------------------------
/// Novum Arcanum: Studio Arcanum Seattle
/// --------------------------------------*@

@page
@model NovumArcanum.Pages.Admin.IngressusModel
@{
    ViewData["Title"] = "Wizard Ingressus";
}

<div id="ingressus-container" class="page-container">
    <div class="container-one">
        login or register
    </div>

    <div class="container-two">
    </div>
        <form method="post">
            <div><input type="text" name="username" placeholder="username" required /></div>
            <div><input type="password" name="password" placeholder="password" required /></div>
            <div><input type="submit" value="login"/></div>
        </form>
    <div class="container-three">
    </div>
</div>

