@*///---------------------------------------
/// Novum Arcanum: Studio Arcanum Seattle
/// --------------------------------------*@

@page
@model NovumArcanum.Pages.Admin.SecretLairModel
@{
    ViewData["Title"] = "SecretLair";
}

<div id="secretlair-container" class="page-container">
    <div class="container-one">
        <h1>Secret Lair</h1>
        <section>
            <ul>
                @foreach (var wizard in Model.SecretLairPageContent.Wizards)
                {
                    <li>
                        <h3>@wizard.Name</h3>
                        <div>
                            <form asp-page-handler="ToggleDisplay" method="post">
                                <label>
                                    <input type="checkbox" name="display" value="true" checked="@wizard.IsDisplay" />
                                    <input type="hidden" name="wizardId" value="@wizard.Id" />
                                    <input type="submit" value="update" />
                                </label>
                            </form>
                        </div>
                    </li>
                }
            </ul>
        </section>
    </div>

    <div class="container-two">
        add or remove artist
        generate code
    </div>
</div>