@*///---------------------------------------
/// Novum Arcanum: Studio Arcanum Seattle
/// --------------------------------------*@

@page
@model NovumArcanum.Pages.Admin.SecretLairModel
@{
    ViewData["Title"] = "SecretLair";
}

<div id="secretlair-container" class="page-container">
    <div class="container-one">
        artist admin, display, assign roles
    </div>

    <div class="container-two">
        add or remove artist
        generate code
    </div>
</div>