/*/----------------------------------------
/// Novum Arcanum: Studio Arcanum Seattle
/// -------------------------------------*/

/*  temporary to save my eyes! */
body {
    background-color: #a9b1a8;
    color: #585858;
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

* {
    box-sizing: border-box;
}

a, a:link, a:visited, a:hover, a:active {
    text-decoration: none;
}

html {
    position: relative;
    min-height: 100%;
}

